div.floating-buttons {
  padding-top: 100px;
  padding-right: 5px;
  float: right;
  z-index: 25;
}
div.floating-buttons > div {
  display: block;
  margin-top: 10px;
}

div.main {
  width: 100%;
  border:10px solid #98FB98;
  border-radius:13px;
}

div.title {
  width: 100%;
  height: 50px;
  background-color: #fff4c8;
}
div.title h1 {
  color:olive;
  text-align: center;
}

div.main-menu {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background: #66FFFF;
  word-spacing: .5em;
}
div.main-menu > div.left-main-menu {
  width: 50%;
  float: left;
  text-align: left;
}
div.main-menu > div.right-main-menu {
  width: 50%%;
  float: left;
  text-align: right;
} 
div.right-main-menu > #lang-dropdown {
  text-decoration:none;
  color: #00C;
  font-size:small;
  cursor:pointer;
}

#keyboard {
  position: absolute;
  display: none; 
  border: 1px solid #ccc;  
  padding: 10px;
  cursor: move;
  z-index: 21;
  text-align: center;
}

.menuDiv {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 22;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: small;
  font-family: Arial;
}

.menuItem {
  color: #00C;
  padding: 3px;
  text-decoration: none;
  background: white;
}

a.menuItem:hover {
  background: #00C;
  color: white;
}

#suggest {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 10;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: small;
  font-family: Arial;
  position: absolute;
}

#upperAD {
  text-align: left;
  border-bottom:1px dotted black;
  padding:10px;
  height: 50px;
}

#rightAD {
  vertical-align: top;
  padding-top:10px;
  width: 160px;
}

.resultCurvedEdges {
  border:10px solid #98FB98;
  -webkit-border-radius:13px;
  -moz-border-radius:13px;
  border-radius:13px;
  width: 100%;
}

.dicTable {
  border: 1px solid #00FFFF;
  background-color: #CCFFFF;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.dicTable th {
  border: 3px solid #00FFFF;
  width: 6em;
  padding: 5px;
}

.dicTable td {
  border: 3px solid #00FFFF;
  padding: 5px;
}
