table.curvedEdges {
  border:10px solid #98FB98;
  -webkit-border-radius:13px;
  -moz-border-radius:13px;
  border-radius:13px;
}

table.curvedEdges td, table.curvedEdges th {  }

table.floating-menu {
  position:fixed;
  background:#66FFFF;
  border:0px solid #ffcc00;
  width:100%;
  height:30px;
  z-index:100;
}

table.floating-menu a, table.floating-menu h3 {
  display:inline;margin:0 0.5em
}

#keyboard {
  position: absolute;
  display: none; 
  border: 1px solid #ccc;  
  padding: 10px;
  cursor: move;
  z-index: 20;
  text-align: center;
}

.menuDiv {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 21;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: small;
  font-family: Arial;
}

.menuItem {
  color: #00C;
  padding: 3px;
  text-decoration: none;
  background: white;
}

a.menuItem:hover {
  background: #00C;
  color: white;
}

#suggest {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 10;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: small;
  font-family: Arial;
  position: absolute;
}

