<div id="brdic" style="border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; line-height: 1.5em; text-align: left; padding: 1em; margin: 1em; font-family: Gentium Basic, arial, serif;">
<b>{{_("Browse Dictionary")}}</b><br />
<div style="word-spacing: .4em; font-size:1.5em; line-height: 3em;">
<a style="text-decoration: none;" href="/browse/a">a</a>
<a style="text-decoration: none;" href="/browse/ā">ā</a>
<a style="text-decoration: none;" href="/browse/b">b</a>
<a style="text-decoration: none;" href="/browse/c">c</a>
<a style="text-decoration: none;" href="/browse/d">d</a>
<a style="text-decoration: none;" href="/browse/ḍ">ḍ</a>
<a style="text-decoration: none;" href="/browse/e">e</a>
<a style="text-decoration: none;" href="/browse/g">g</a>
<a style="text-decoration: none;" href="/browse/h">h</a>
<a style="text-decoration: none;" href="/browse/i">i</a>
<a style="text-decoration: none;" href="/browse/ī">ī</a>
<a style="text-decoration: none;" href="/browse/j">j</a>
<a style="text-decoration: none;" href="/browse/k">k</a>
<a style="text-decoration: none;" href="/browse/l">l</a>
<a style="text-decoration: none;" href="/browse/ḷ">ḷ</a>
<a style="text-decoration: none;" href="/browse/m">m</a>
<a style="text-decoration: none;" href="/browse/n">n</a>
<a style="text-decoration: none;" href="/browse/ñ">ñ</a>
<a style="text-decoration: none;" href="/browse/o">o</a>
<a style="text-decoration: none;" href="/browse/p">p</a>
<a style="text-decoration: none;" href="/browse/r">r</a>
<a style="text-decoration: none;" href="/browse/s">s</a>
<a style="text-decoration: none;" href="/browse/t">t</a>
<a style="text-decoration: none;" href="/browse/ṭ">ṭ</a>
<a style="text-decoration: none;" href="/browse/u">u</a>
<a style="text-decoration: none;" href="/browse/ū">ū</a>
<a style="text-decoration: none;" href="/browse/v">v</a>
<a style="text-decoration: none;" href="/browse/y">y</a>
</div>
</div>
