<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Pāli Dictionary (巴利辭典)</title>
  <meta name="keywords" content="pali, pāli, dictionary, pali-chinese,字典,辭典,巴利,巴漢字典" />
  <meta name="description" content="pali dictionary (especially pali-chinese). 巴利字典,巴漢字典" /> 

  <style type="text/css">{% include "palidict.css" %}</style>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <script type="text/javascript">{% include "palidict.js" %}</script>

  {% include "google_analytics_code" %}
</head> 
<body OnLoad="document.getElementById('PaliInput').focus();">
  {% include "topFixedMenu.html" %}
  <table class="curvedEdges" align="center" cellspacing="0" style="margin-top:32px; width:75%; height:600px">
  <tr height=50" bgcolor="#fff4c8">
    <th colspan="2" style="padding-top:18px; padding-bottom:0px"><h1 align="center" style="color:olive;">Pāli Dictionary (巴利辭典)</h1></th>
  </tr>

  <tr>
    <td height="50" align="left" style="border-bottom:1px dotted black; padding:10px;">{% include "google_upper_ad_code" %}</td>
    <td width="160" align="right" valign="top" rowspan="2" style="padding-top:10px">{% include "google_right_ad_code" %}</td>
  </tr>

  <tr>
    <td valign="top" align="left">

    <center>
      <br /><br />
      <!-- input pāli word -->
      <form action="javascript:lookup();">
        <div>
          <input id="PaliInput" type="text" name="word" value="">
          <input type="submit" value="Search"><sub><a id="displayText" href="javascript:toggle();">{{_("Show Pāli Keypad")}}</a></sub>
        </div>
      </form>

      {% include "keyboard.html" %}
    </center>

    <center><div id="result">{{ result  }}</div></center>
    </td>
  </tr>
  </table>
</body>
{% include "info.html" %}
</html>
