<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{_("Pāli Dictionary")}}</title>
<meta name="keywords" content="Pāli, Pali, Pāli dictionary, Pali dictionary, Pāli-Chinese, Pāli-English, Pāli-Japanese,字典,辭典,巴利,巴利文,巴利語,巴利語字典,巴漢字典,巴英字典,巴日字典" />
<meta name="description" content="Pāli dictionary (Pāli to Chinese, Pāli to English, Pāli to Japanese).巴利語字典,巴漢字典,巴英字典,巴日字典" />

<script type="text/javascript">
{% if compiledBootstrapJS == 'yes' %}
  {% include "bootstrap-prd.js" %}
{% else %}
  {% include "bootstrap.js" %}
{% endif %}
</script>
<script type="text/javascript">{% include "potI18N.js" %}</script>
</head> 
<body>
<div style="width: 100%;">
 <div style="width: 10%; float: left;">{% include "buttons.html" %}</div>
 <div class="main">
   <div class="title"><span>{{_("Pāli Dictionary")}}</span></div>
   {% include "mainMenu.html" %}

     <br style="line-height: 2em;" />
     <!-- input pāli word -->
     <form id="inputForm" style="text-align: center;" autocomplete="off">
       <div>
        <span id="leftHistoryArrow" class="historyArrow" title={{_("'Previous Word History'"|safe)}}>&#9668;</span>&nbsp;<span id="rightHistoryArrow" class="historyArrow" title={{_("'Next Word History'"|safe)}}>&#9658;</span>
        <input id="PaliInput" type="text" name="word" value="" />
        <input type="submit" value="Search" /><sub><span id="displayText" class="fakeLink">{{_("Show Pāli Keypad")}}</span></sub>
        <div id="suggest" class="suggest" style="display: none;"></div><div id="suggestedWordPreview" class='suggest' style="display: none;"></div>
       </div>
     </form>
     {% include "keyboard.html" %}
     <br style="line-height: 2em;" />
     <div id="result">{% if resultDivInnerHTML %}{{resultDivInnerHTML}}{% endif %}</div>
     {% include "browse.html" %}

 </div>
</div>
<div id="locale" style="display:none">{{locale}}</div>
{% include "info.html" %}
<!-- @see http://tongwen.openfoundry.org/web.htm -->
<script type="text/javascript" src="http://tongwen.openfoundry.org/src/web/tongwen_core.js"></script>
<script type="text/javascript" src="http://tongwen.openfoundry.org/src/web/tongwen_table_s2t.js"></script>
<script type="text/javascript" src="http://tongwen.openfoundry.org/src/web/tongwen_table_ps2t.js"></script>
</body>
</html>
