<table class="floating-menu" style="top:0px; left:0px"><tr style="word-spacing: 15px; width: 100%; height: 100%;">
 <td style="padding-left:20px; text-align:left;">
  <a href="{{ href[locale] }}">{{_("Home")}}</a>
  <a href="javascript:showAbout();">{{_("About")}}</a>
  <a href="javascript:showLink();">{{_("Link")}}</a>
 </td>
 <td style="padding-right: 20px; text-align: right;">
  <a id="lang-dropdown" href="/" onclick="return false;" style="text-decoration:none; color: #00C; font-size:small; cursor:pointer; ">
   <span style="text-decoration:underline">{{ localeStr[locale] }}</span><span style="font-size:.75em;">&#9660;</span>
  </a>
  <!-- http://www.mountaindragon.com/html/redirectjs2.htm  -->
  <select onChange="window.location=this.options[this.selectedIndex].value;">
   <option value="/" selected="selected">{{_("Choose Site")}}:</option>
   <option value="http://palidictionary.appspot.com/">{{_("Main Site")}}</option>
   <option value="http://siongui.pythonanywhere.com/">{{_("Backup Site #1")}}</option>
   <option value="http://siongui.webfactional.com">{{_("Backup Site #2")}}</option>
  </select>
  <!--
  {% include "google_translate_code" %}
  -->
 </td>
</table>
<div class="menuDiv instance0" id="menuDiv-lang-dropdown" style="position: absolute; display: none; width: 95px; ">
<div style="margin-top: 4px;">
 <a class="menuItem" style="display: block; " href="/?locale=en_US">English</a>
 <a class="menuItem" style="display: block; " href="/?locale=zh_CN">中文 (简体)</a>
 <a class="menuItem" style="display: block; " href="/?locale=zh_TW">中文 (繁體)</a>
</div></div>
